<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newStaff" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br> <br>
        <label for="salary">Salary</label>
        <input type="number" name="salary">
        <br> <br>
        <label for="position">Position</label>
        <input type="text" name="position">
        <br> <br>
        <label for="sex">Gender</label>
        <input type="text" name="sex">
        <br> <br>
        <label for="mobno">Mobile No.</label>
        <input type="text" name="mobno">
        <br> <br>
        <label for="email">Email</label>
        <input type="email" name="email">
        <br> <br>
        <label for="country">Country</label>
        <input type="text" name="country">
        <br> <br>
        <label for="state">State</label>
        <input type="text" name="state">
        <br> <br> 
        <label for="city">City</label>
        <input type="text" name="city">
        <button>Submit</button>
    </form>
</body>
</html>